<div>
    <div class="row"  style="margin: 20px;" >
        <div class="col-sm-4 view  zoom z-depth-3" style="margin-top: 10px;" *ngFor='let pro of project | paginate: { itemsPerPage: 10, currentPage: p }'>
            <div class="box" (click)='openDetails(pro._id)'>
                <div class="hello">
                    <img src='{{pro.iconic_image}}' class="img-fluid" alt="zoom">
                </div>
            <div class="details">
                <div class="content">
                    <h2>{{pro.name}}</h2>
                        <p>{{pro.category}}</p>       
                </div>
            </div>
        </div>
    <div class="mask flex-center waves-effect waves-light rgba-blue-light">
        <h1 class="text-white"></h1>
    </div>
</div>
</div>
</div>
<pagination-controls (pageChange)="p = $event" style="position:relative;left:550px"></pagination-controls>

   