<div class="home-slider owl-carousel js-fullheight">
  <div class="slider-item js-fullheight" style="background-image:url(../../../assets/images_imgaes/xslider-1.jpg.pagespeed.ic.kBLARCCuHQ.jpg)">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate">
            <div class="text w-100 text-center">
              <h2>Best Place to Travel</h2>
              <h1 class="mb-3">Norway</h1>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="slider-item js-fullheight" style="background-image:url(../../../assets/images_imgaes/xslider-2.jpg.pagespeed.ic.47HAngk2Z0.jpg)">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate">
            <div class="text w-100 text-center">
              <h1 class="mb-3">Japan</h1>
              <h2>Best Place to Travel</h2>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="slider-item js-fullheight" style="background-image:url(../../../assets/images_imgaes/xslider-2.jpg.pagespeed.ic.47HAngk2Z0.jpg)">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate">
            <div class="text w-100 text-center">
              <h2>Best Place to Travel</h2>
              <h1 class="mb-3">Singapore</h1>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>